/* attempted CSS style to hero image, not fully functioning */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  
#main #hero-image img {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
  }