/* attempted CSS style to hero image, not fully functioning */
/* #hero-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  
#hero-image img {
    max-width:fit-content;
    height:100vh;
  }
  /*  */
